<h1>home</h1>

<div>
  <%= link_to 'logout', destroy_user_session_path, method: :delete %>
</div>

<div>
  <%= link_to 'post', new_post_path %>
</div>

<div>
  <%= link_to 'my posts', posts_path %>
</div>

